* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    transition: grid-template-columns 0.3s ease;
}

#navbar {
    background-color: rgb(0, 0, 255);
    height: 100vh;
    overflow: hidden;
}

#navbar__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#navbar__list li a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
}

#navbar__list li a:hover {
    background-color: rgb(28, 28, 132);
}

#navbar__btn {
    display: flex;
    justify-content: end;
}

i {
    color: aliceblue;
}

.collapse-nav {
    visibility: hidden;
}

#navbar__btn--colapse {
    background-color: transparent;
    padding: 10px;
    border: 0;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

#navbar__btn--colapse:hover {
    cursor: pointer;
}

/* trạng thái collapse */

body.collapsed {
    grid-template-columns: 60px 1fr;
}

body.collapsed #navbar {
    justify-items: center;
}

body.collapsed #navbar__btn--colapse {
    margin-right: 0px;
    transform: rotate(180deg);
}

body.collapsed #navbar__list li a span {
    display: none;
}

@media screen and (max-width: 768px) {
    #navbar {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
}