* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: clip;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== utility class ===========*/
/* Layout & Flexbox */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-1-0 {
    flex: 1 0;
}

/* Colors & Backgrounds */
.text-grey {
    color: #89939e;
}

.text-green {
    color: #49ad4c;
}

.text-white {
    color: #ffffff;
}

.bg-green {
    background-color: #49ad4c;
}

.bg-light-grey {
    background-color: #f5f7fa;
}

.bg-transparent {
    background-color: transparent;
}

/* Typography */
.text-center {
    text-align: center;
}

.font-semibold {
    font-weight: 600;
}

.fs-1-2 {
    font-size: 1.2rem;
}

.fs-1-25 {
    font-size: 1.25rem;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.fs-2 {
    font-size: 2rem;
}

.fs-2-5 {
    font-size: 2.5rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-5 {
    font-size: 5rem;
}

/* Spacing & Sizing */
.w-full {
    width: 100%;
}

.m-0 {
    margin: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-2 {
    margin-top: 2rem;
}

.section-padding {
    padding-left: 10%;
    padding-right: 10%;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-7 {
    gap: 7rem;
}

.img-w-30 {
    width: 30rem;
    height: auto;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

/* Borders, Radius & Shadows */
.border-none {
    border: none;
}

.radius-5 {
    border-radius: 5px;
}

.radius-half {
    border-radius: 0.5rem;
}

.shadow-custom {
    box-shadow: 2px 2px 10px -4px #c4d2e0;
}

/* Actions */
.cursor-pointer {
    cursor: pointer;
}

/*========== Element Style ===========*/
/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 999;
}

.navbar__links {
    list-style: none;
    padding: 0;
}

.navbar_link {
    text-decoration: none;
    color: #343c41;
}

/* Buttons */
.register-btn {
    padding: 1rem 2rem;
}

.customer-btn {
    padding: 0.85rem 1.25rem;
}

.navbar__btn--media-phone {
    display: none;
    padding: 0.5rem 0.75rem;
}

.navbar__links .register-btn {
    display: none;
}

/* Hero Section */
.hero__fr1 {
    flex: 4 1 200px;
}

.hero__fr2 {
    flex: 1 1 auto;
}

.hero__text1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    color: #4d4d4d;
}

.hero__text1 p {
    margin-bottom: 1.5rem;
}

/* Clients */
.client__logo {
    min-height: 6rem;
}

/* Community */
.community__text h1 {
    width: 65%;
}

.community__detail {
    max-width: 27%;
    padding: 2rem 2.8rem;
}

/* Fact & Guide & Tesla */
.fact__content {
    flex: 1.3 0;
    padding: 3rem 0;
}

.tesla__content {
    flex: 3 0;
}

.guide__content {
    flex: 1.3 0;
}

/* Stats */
.stat_text {
    font-size: 1.2rem;
}

.count {
    width: 100%;
    max-width: 13rem;
}

/* Caring */
.caring__text {
    max-width: 40rem;
}

.read-more__card {
    max-width: 31%;
    margin-bottom: 2rem;
}

.card__content {
    padding: 1rem;
    max-width: 80%;
    min-height: 10rem;
    z-index: 10;
    position: relative;
    margin-top: -6rem;
}

footer {
    margin: 30px;
    padding: 30px;
}

/* responsive */
@media (max-width: 1600px) {
    html {
        font-size: 16px;
    }

    .section-padding {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 1440px) {
    html {
        font-size: 14px;
    }

    .section-padding {
        padding-left: 8%;
        padding-right: 8%;
    }

    .navbar__group,
    .navbar__links {
        gap: 2rem;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    .section-padding {
        padding-left: 5%;
        padding-right: 5%;
    }

    .fact__content,
    .guide__content,
    .tesla__content {
        max-width: 48%;
    }

    .navbar__group,
    .navbar__links {
        gap: 1rem;
    }

    .register-btn {
        padding: 0.8rem 1.5rem;
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .section-padding {
        padding-left: 5%;
        padding-right: 5%;
    }

    .hero-section,
    .fact,
    .guideline,
    .tesla,
    .stats {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    .fact__content,
    .guide__content,
    .tesla__content,
    .hero__fr1,
    .community__content,
    .read-more {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stat__count {
        width: 100%;
    }

    .customer {
        justify-content: space-around;
    }

    .community__detail,
    .read-more__card {
        max-width: 24rem;
    }

    /* navbar */
    .navbar {
        position: sticky;
    }
    
    .navbar__links .register-btn {
        display: block;
    }

    .navbar__links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #ffffff;

        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        height: 0;
        max-height: 70vh;
        overflow: hidden;

        transition: height 0.3s ease-in-out;
    }

    .navbar__btn--media-phone {
        display: block;
    }

    body.collapsed .navbar__links {
        height: 70vh;
        overflow: scroll;
    }

    .navbar__button>.register-btn {
        display: none;
    }

    .navbar__link {
        font-size: 3rem;
    }
}